<div class="main">
  <div class="immersive-image">
    <img
      src="../../assets/secondImage.jpg"
      alt="Main Image"
      class="main-image"
    />
    <div class="immersive-txt">
      <h2 class="mat-display-2">Discover Stories That Inspire and Inform</h2>
      <p class="mat-body-1">
        Your gateway to insightful articles, stunning visuals, and a world of
        ideas at your fingertips.
      </p>
    </div>
  </div>
  <div class="blog-posts">
    <div class="blog-text">
      <h1 class="mat-display-1">Blogs</h1>
      <h2 class="mat-display-2">Latest Stories and Insights</h2>
      <p class="mat-body-1">
        Explore our latest posts and captivating visuals.
      </p>
    </div>
    <mat-spinner
      [diameter]="50"
      color="primary"
      *ngIf="isLoading"
    ></mat-spinner>
    <div class="blog-card" *ngIf="posts.length > 0 && !isLoading">
      <mat-card class="img-card" appearence="raised" *ngFor="let post of posts">
        <mat-card-header>
          <mat-card-title
            ><h3 class="mat-display-3">{{ post.title }}</h3></mat-card-title
          >
        </mat-card-header>
        <img mat-card-image [src]="post?.imagePath" [alt]="post.title" />
        <mat-card-content>
          <h3 class="mat-display-3">{{ post.content }}</h3>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button>see more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
