/* Full-Width Image */
.immersive-image {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.immersive-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  top: 0;
  left: 0;
}

/* Text Overlay */
.immersive-txt {
  z-index: 2;
  display: inline-flex;
  position: absolute;
  flex-direction: column;
  bottom: 20px;
  text-align: center;
  left: 20%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 4px;
}

/* Main Heading */
.main-heading {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.subheading {
  margin: 10px;
  font-size: 1rem;
  font-weight: normal;
}

.blog-posts {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 80px;
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 11.5rem;
  margin-bottom: 30px;
  margin-left: 20px;
}
.blog-text h2,
h3,
p {
  margin: 5px;
  word-wrap: break-word;
}
.blog-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}

mat-card {
  /* background-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 4%));
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1); */
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0%),
    rgba(0, 0, 0, 4%)
  );
  background-size: cover;
  background-position: center;
  box-shadow:
    5px 5px 5px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
mat-card img {
  max-width: 550px;
  max-height: 500px;
  object-fit: cover;
}
mat-card-content h3,
mat-card-title {
  padding-bottom: 5px;
  font-size: 19px;
}
mat-card-title h3 {
  font-weight: 600;
}
mat-card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.8),
    0 8px 16px rgba(0, 0, 0, 0.5);
}
/* Dark Theme */
/* .dark-theme {
  background-color: #121212;
  color: #ffffff;
} */
