<mat-spinner [diameter]="80" *ngIf="isLoading"></mat-spinner>
<div class="main-div" *ngIf="!isLoading">
  <mat-card color="primary">
    <mat-card-title>
      <span class="mat-body-1">LogIn</span>
    </mat-card-title>

    <form (submit)="OnLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          ngModel
          #emailInput="ngModel"
          placeholder="Email"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          placeholder="Password"
        />
      </mat-form-field>

      <button
        class="save-button"
        mat-raised-button
        color="accent"
        type="submit"
      >
        <span class="mat-body-2">LogIn</span>
      </button>
    </form>
  </mat-card>
</div>
<!-- <div class="alert alert-danger" *ngIf="content.invalid && (content.touched || content.dirty)">
				<mat-error *ngIf="content.errors.required">this is a required field</mat-error>
				<mat-error *ngIf="content.errors.minlength">Min length is 10</mat-error>
			</div> -->
<!-- <div class="alert alert-danger" *ngIf="title.invalid && (title.touched || title.dirty)">
				<mat-error *ngIf="title.errors.required">this is a required field</mat-error>
				<mat-error *ngIf="title.errors.minlength">Min length is 7</mat-error>
			</div> -->
