mat-spinner {
  margin: auto;
  text-align: center;
}

.postLists {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  min-height: 90vh;
  z-index: 2;
}

.post-image {
  width: 50%;
  height: 50%;
  margin: 12px;
  margin-bottom: 22px;
}

.post-image img {
  width: 100%;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

mat-paginator {
  margin-top: 20px;
}
mat-expansion-panel-header h3 {
  font-weight: 600;
}
.info-text {
  /* justify-content: center; */
  text-align: center;
  margin: auto;
}
