html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}


mat-card {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  display: flex;
  font-family: monospace;
  background-color: #CCEA8D;
  border-radius: 10px;
  box-shadow: 0px 3px 6px -1px rgb(0, 0, 0, 0.4), 0px 5px 15px 0px rgb(0, 0, 0, 0.3), 0px 8px 21px 1.5px rgb(0, 0, 0, 0.2);
}

mat-form-field,
input,
textarea {
  margin-left: 20px;
  width: 90%;
}

.Content {
  resize: vertical;
  min-height: 150px;
  max-height: 250px;

}

mat-spinner {
  margin: auto;


}

mat-card-title {
  margin: 20px 0px;
  color: rgb(0, 0, 0, 0.5);
  margin-left: 20px;
}

.save-button {

  margin: 1rem 1rem;
  justify-content: baseline;
  box-shadow: 5px 2px 5px rgb(0, 0, 0, 0.5);


}

.uploadBtn {
  background-color: whitesmoke;
  color: rgb(0, 0, 0, 0.5);
  box-shadow: 5px 2px 5px rgb(0, 0, 0, 0.5);

}

/* #button {
  font-size: 1.2rem;
  justify-content: baseline;
  margin-left: 100px;
  margin-top: 20px;
} */

div.image-upload {
  margin: 1rem 2rem;
}

input.image-upload {
  visibility: hidden;
}

.image-preview {
  height: 7.5rem;
  margin: 1rem 2rem;
}

.image-preview img {
  height: 100%;
}