<mat-toolbar class="header" [class.hidden]="isNavbarHidden" color="primary">
  <a routerLink="/home">
    <img clss="logo" src="../../assets/yes.svg" /><span class="mat-body-2"
      >Code Blog</span
    >
    <!-- <mat-icon fontIcon="home"></mat-icon> -->
  </a>

  <span class="spacer"></span>

  <ul>
    <li>
      <mat-slide-toggle
        class="theme-toggle"
        [checked]="isDarkMode"
        (change)="toggleTheme()"
        color="warn"
      >
        <span class="mat-body-2">{{
          isDarkMode ? "Dark Mode" : "Light Mode"
        }}</span></mat-slide-toggle
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/postList" [routerLinkActive]="['routerActive']">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="all_inbox"></mat-icon
          ><span class="mat-body-2"> All Posts </span>
        </div></a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a routerLink="/create" [routerLinkActive]="['routerActive']">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          <span class="mat-body-2">Add post</span>
        </div></a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/home" mat-button [routerLinkActive]="['routerActive']">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
          <span class="mat-body-2"> Home </span>
        </div>
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/login" mat-button [routerLinkActive]="['routerActive']">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
          <span class="mat-body-2">Login</span>
        </div></a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a routerLink="/signup" mat-button [routerLinkActive]="['routerActive']">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="person_add"></mat-icon>
          <span class="mat-body-2">Signup</span>
        </div></a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="logOut()">
        <div class="links">
          <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon
          ><span class="mat-body-2">Logout</span>
        </div>
      </button>
    </li>
  </ul>
</mat-toolbar>
