footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}
img.logo {
  width: 65px;
  height: 65px;
  padding: 5px;
  margin-left: 20px;
}
.info {
  display: flex;
  flex-direction: row;
}
span#copy {
  margin-right: 580px;
}
div.aboutus img {
  width: 50px;
  height: 50px;
  padding: 5px;
}
