<footer>
  <mat-toolbar color="primary">
    <img class="logo" src="../../assets/yes.svg" alt="logo" />
    <span class="copy">&copy; 2024 Your Website. All rights reserved.</span>
    <div class="info">
      <div class="aboutus">
        <img src="../../assets/Rectangle.svg" alt="logo" />
        <span>AboutUS</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/heart.svg" alt="logo" />
        <span>SupportUs</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/message.svg" alt="logo" />
        <span>BlogPosts</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/share.svg" alt="logo" />
        <span>ContactUs</span>
      </div>
    </div>
  </mat-toolbar>
</footer>
