<footer>
  <mat-toolbar color="primary">
    <img class="logo" src="../../assets/yes.svg" alt="logo" />
    <span class="mat-body-2" id="copy"
      >&copy; 2024 Your Website. All rights reserved.</span
    >
    <div class="info">
      <div class="aboutus">
        <img src="../../assets/Rectangle.svg" alt="logo" />
        <span class="mat-body-2">AboutUS</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/heart.svg" alt="logo" />
        <span class="mat-body-2">SupportUs</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/message.svg" alt="logo" />
        <span class="mat-body-2">BlogPosts</span>
      </div>
      <div class="aboutus">
        <img src="../../assets/share.svg" alt="logo" />
        <span class="mat-body-2">ContactUs</span>
      </div>
    </div>
  </mat-toolbar>
</footer>
